<!DOCTYPE html>
<html lang="en">


<head th:replace="common/head">
	
</head>

<body>

	<nav th:replace="common/nav">
	</nav>

	<ul class="area-list-img">
		<li>
			<div><a href="/areaList?areacode=4"><img src="/areaList_4_daegu.png"></a>
				<p>대구</p>
			</div>
		</li>
		<!--대구-->
		<li>
			<div><a href="/areaList?areacode=6"><img src="/areaList_busan.png"></a>
				<p>부산</p>
			</div>
		</li>
		<!--대구-->
		<li>
			<div><a href="/areaList?areacode=7"><img src="/areaList_7_ulsan.png"></a>
				<p>울산</p>
			</div>
		</li>
		<!--대구-->
		<li>
			<div><a href="/areaList?areacode=35"><img src="/areaList_35_gyeongbuk.png"></a>
				<p>경남</p>
			</div>
		</li>
		<!--대구-->
		<li>
			<div><a href="/areaList?areacode=36"><img src="/areaList_36_namhae.png"></a>
				<p>경북</p>
			</div>
		</li>
		<!--대구-->

		<!--<li><a href="/areaList?areacode=6"><img src="/areaList_busan.png"></a></li>
		<li><a href="/areaList?areacode=7"><img src="/areaList_7_ulsan.png"></a></li>
		<li><a href="/areaList?areacode=35"><img src="/areaList_35_gyeongbuk.png"></a></li>
		<li><a href="/areaList?areacode=36"><img src="/areaList_36_namhae.png"></a></li>-->
	</ul>


	<hr style="width: 1230px;" />


	<!--지역별 관광정보 -->
	<div class="container_cardbox" style="margin : 0 auto;">
		<div th:each="area : ${list}" id="cardbox">
			<div class="card">
				<a href="#"
					th:href="@{'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=' + ${area.title}}">
					<img th:src="${area.firstimage}" class="card-img-top" alt="..."
						onerror="src='/logo.png'">
				</a>
				<div class="card-body">
					<span class="card-title">
						<a th:href="@{'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=' + ${area.title}}"
							th:text="${area.title}"></a>
					</span>
					<p class="card-title">
						<a th:href="@{'https://m.map.naver.com/search2/search.naver?query=' + ${area.addr1}}"
							th:text="${area.addr1}"></a>
					</p>

					<p class="card-text" th:text="'Tel :' +  ${area.tel}"></p>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="common/footer">
	</footer>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>