<!DOCTYPE html>
<html lang="en">

<head th:replace="common/head">
</head>

<body>

	<nav class="navbar navbar-inverse" th:replace="common/nav">
	</nav>

	<div class="container my-3">
		<div class="row my-3">
			<div class="col-4">
				<h4>계정생성</h4>
			</div>
			<div class="col-8 text-right">
				<span>또는 <a th:href="@{/signin}">로그인 하세요.</a></span>
			</div>
		</div>
		<form method="post" class="post-form">
			<div class="form-group">
				<label for="email">이메일</label>
				<input type="text" class="form-control" name="email" id="email">
			</div>
			<div class="form-group">
				<label for="pwd">비밀번호</label>
				<input type="password" class="form-control" name="pwd" id="pwd">
			</div>
			<div class="form-group">
				<label for="username">이름</label>
				<input type="text" class="form-control" name="name" id="name">
			</div>
			<button type="submit" class="btn btn-primary">생성하기</button>
		</form>
	</div>

	<script>
		$("#signup").click(function () {
			$("form").submit();
			return false;
		});
	</script>
	<footer class="container-fluid text-center" th:replace="common/footer">
	</footer>

</body>

</html>