<!DOCTYPE html>
<html lang="en">

<!--헤더-->

<head th:replace="common/head">
</head>

<body>

	<!--네비바-->
	<nav th:replace="common/nav">
	</nav>

	<div class="container-fluid text-center">
		<div class="row">

			<!--좌측 메뉴-->
			<div class="left">
				<p><a href="#">테스트1</a></p>
				<p><a href="#">테스트2</a></p>
				<p><a href="#">테스트3</a></p>
			</div>

			<!--여기서부터 본문입니다-->
			<div class="content">
				<div class="weatherCovidInfo">
					<!--지역 날씨 미세먼지-->
					<div class="weatherInfo">
						<h3 style="font-weight: bold;">날씨 현황</h3>
						<img src="/map.jpg" alt="지도" />
						<th:block th:each="air : ${airList}">
							<p class="busanAir" th:if="${air.areacode == 6}" th:text="${air.airInfo} + ' (미세먼지)'"></p>
							<p class="daeguAir" th:if="${air.areacode == 4}" th:text="${air.airInfo} + ' (미세먼지)'"></p>
							<p class="ulsanAir" th:if="${air.areacode == 7}" th:text="${air.airInfo} + ' (미세먼지)'"></p>
							<p class="northAir" th:if="${air.areacode == 35}" th:text="${air.airInfo} + ' (미세먼지)'"></p>
							<p class="southAir" th:if="${air.areacode == 36}" th:text="${air.airInfo} + ' (미세먼지)'"></p>
						</th:block>
						<th:block th:each="weather : ${weatherList}">
							<p class="busanWeather" th:if="${weather.areacode == 6}" th:text="'    강수확률 : ' + ${weather.popCategoryValue} + '%'"></p>
							<p class="daeguWeather" th:if="${weather.areacode == 4}" th:text="'    강수확률 : ' + ${weather.popCategoryValue} + '%'"></p>
							<p class="ulsanWeather" th:if="${weather.areacode == 7}" th:text="'    강수확률 : ' + ${weather.popCategoryValue} + '%'"></p>
							<p class="northWeather" th:if="${weather.areacode == 35}" th:text="'    강수확률 : ' + ${weather.popCategoryValue} + '%'"></p>
							<p class="southWeather" th:if="${weather.areacode == 36}" th:text="'    강수확률 : ' + ${weather.popCategoryValue} + '%'"></p>
						</th:block>
					</div>
					<!--코로나정보-->
					<div class="covidInfo">
						<h3 style="font-weight: bold;">전국 코로나(covid-19) 현황</h3>
						<table class="table">
							<thead>
								<tr class="text-center thead-dark">
									<th>지역</th>
									<th>신규 확진자</th>
									<th>해외 유입</th>
									<th>지역 발생</th>
									<th>현 확진자 수</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="covid : ${covidList}">
									<td th:text="${covid.area}"></td>
									<td th:text="${covid.incdec}"></td>
									<td th:text="${covid.overflow}"></td>
									<td th:text="${covid.local}"></td>
									<td th:text="${covid.isol}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--추천 여행지-->
				<div class="recommend">
					<h2 style="text-align: center; font-weight: bold;">추천 여행지!</h2>
					<table class="table">
						<thead>
							<tr class="text-center thead-dark">
								<th>id</th>
								<th>관광지 명</th>
								<th>주소</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="area : ${areaList}">
								<td th:text="${area.id}"></td>
								<td th:text="${area.title}"></td>
								<td th:text="${area.addr1}"></td>
							</tr>
						</tbody>
					</table>
					<th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
								<a th:if="${page} == ${pageNumber}" th:text="${pageNumber}" style="font-weight:bold"></a>
								<a th:unless="${page} == ${pageNumber}" th:href="@{/chu(page=${pageNumber})}" th:text="${pageNumber}"></a>
					</th:block>
					

				</div>
			</div>
			<!--여기까지 본문입니다-->

			<!--우측 메뉴-->
			<div class="right">
				<div class="well">
					<p>광고1</p>
				</div>
				<div class="well">
					<p>광고2</p>
				</div>
			</div>

		</div>
	</div>

	<!--푸터-->
	<footer th:replace="common/footer">
	</footer>

</body>

</html>